<main class="main">
  <div class="content">
    <!-- style="background-image: '../../../assets/img2.jpg' -->
    <div class="parent">
      <countdown-timer targetDateTime='2024-05-05T10:15:00+05:30'></countdown-timer>
    </div>  
  <!-- <s-carousel></s-carousel> -->
  <!-- <test></test> -->
  <popup-component [showOverlay]="true" (shouldPlay)="trigEvent($event)"></popup-component>
  <music-component [sPlay]="isPlaying" ></music-component>
  
  <!-- <audio autoplay="true" preload="auto" loop="true" src="../assets/song.mp3"></audio> -->
  </div>
</main>


<router-outlet />
