.parent {
    background-image: url('../assets/img3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-size: 100% auto;
     height: 200vh;
     width: 200vh;
    //height: 100%;
    //width: auto;
  }